{% extends "layout.html" %}

{% block pageTitle %}
Question page
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="confirm-address-2">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Is there someone in the house who’s able to carry a delivery of supplies inside?</h1>

        <p class="govuk-inset-text">For now, we’ll need to leave deliveries on the doorstep.</p>

        <form class="form" action="/uj5/25" method="post">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <!-- <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                Where do you live?
                            </h1>
                        </legend> -->
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="where-do-you-live" name="carry" type="radio" value="Yes">
                            <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="where-do-you-live-2" name="carry" type="radio" value="No">
                            <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                                No
                            </label>
                        </div>

                    </div>
                </fieldset>
            </div>


            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>

    </div>
</div>

{% endblock %}
