{% extends "layout.html" %}

{% block pageTitle %}
Shielded Vulnerable People Service
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Details updated successfully
            </h1>
        </div>

        <br />



        <p>
            <a href="account">Back to your account</a>
        </p>



    </div>
</div>

{% endblock %}
