{% extends "layout.html" %}

{% block pageTitle %}
Question page
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="eligibility">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-l">Sorry, you’re not eligible for help through this service</h1>


        <p class="govuk-body">This service is for people with one of the listed medical conditions or have been told by their GP or hospital clinician that they’re classed as clinically extremely vulnerable.

        </p>

        <p class="govuk-body">You can read general guidance on what you need to do.</p>

        <p class="govuk-body">Contact your local authority if you need supplies urgently and cannot rely on family, friends or neighbours.</p>

        <p class="govuk-body">If your medical condition changes or your GP or hospital clinician tells you are clinically extremely vulnerable to coronavirus, go to www.gov.uk/coronavirus-extremely-vulnerable and go through the questions again.</p>

        <p class="govuk-body">We won’t store the information you entered into this service.</p>

        <p class="govuk-body"><a class="govuk-link" href="https://www.gov.uk/done/coronavirus-extremely-vulnerable">Give feedback on this service</a>.</p>


    </div>
</div>

{% endblock %}
