{% extends "layout.html" %}

{% block pageTitle %}
Question page
{% endblock %}

{% block beforeContent %}
{% if data['check-your-answers-previous'] == "Yes" %}
{% else %}
<a class="govuk-back-link" href="contact-details">Back</a>
{% endif %}
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Does this person have someone they can rely on to go shopping for them?</h1>

        <p>For example, a friend, family member or volunteer.</p>

        <p>Priority supermarket slots are only available to people who do not have someone to go shopping for them.</p>

        <br />

        <form class="form" action="/records/0111053029/summary" method="post">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">

                    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="someonetogoshoppingyes" name="someonetogoshopping" type="radio" data-aria-controls="someonetogoshoppingyes" value="true" {{ checked("someonetogoshopping", "true") }}>
                            <label class="govuk-label govuk-radios__label" for="someonetogoshoppingyes">
                                Yes, they have someone who can go shopping for them
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="someonetogoshoppingno" name="someonetogoshopping" type="radio" value="false" data-aria-controls="someonetogoshoppingno" {{ checked("someonetogoshopping", "false") }}>
                            <label class="govuk-label govuk-radios__label" for="someonetogoshoppingno">
                                No, they don't have someone who can go shopping for them
                            </label>

                        </div>

                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="someonetogoshoppingno">
                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">

                                    <div id="changed-name-hint" class="govuk-hint">
                                        Do they require priority supermarket delivery slots?
                                    </div>
                                    <div class="govuk-radios govuk-radios--inline">
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="priorityslots" name="priorityslots" type="radio" value="true" {{ checked("priorityslots", "true") }}>
                                            <label class="govuk-label govuk-radios__label" for="priorityslots">
                                                Yes
                                            </label>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="priority-slots-2" name="priorityslots" type="radio" value="false" {{ checked("priorityslots", "false") }}>
                                            <label class="govuk-label govuk-radios__label" for="priorityslots2">
                                                No
                                            </label>
                                        </div>
                                    </div>

                                </fieldset>
                            </div>
                        </div>
                        <input type="hidden" id="hidden" name="edittoggle" value="Yes">

                    </div>
                </fieldset>
            </div>

            <button class="gem-c-button govuk-button gem-c-button--bottom-margin" type="submit">Save and continue</button>

        </form>



    </div>
</div>

{% endblock %}
