{% extends "layout.html" %}

{% block pageTitle %}
Question page
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="index-a.html">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" action="create-account-check" method="post">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Create an account for the Shielded vulnerable person service
                        </h1>
                    </legend>
                    <p class="govuk-body-m">
                        Creating an account will make it easier for you to do the following things in the future:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>unsubscribe from the service if your circumstances change</li>
                        <li>customise your support if your circumstances change</li>
                        <li>view relevant information relating to your support</li>
                        <li>be contacted more easily</li>
                    </ul>

                    <br />

                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="sign-in" name="createaccount" type="radio" aria-describedby="sign-in-item-hint" value="True">
                            <label class="govuk-label govuk-radios__label" for="sign-in">
                                Create an account
                            </label>
                            <span id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                                You can create an account using your existing NHS login. If you do not currently have an NHS login, setting one up is simple.
                            </span>
                        </div>

                        <div class="govuk-radios__divider">or</div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="sign-in-2" name="createaccount" type="radio" aria-describedby="sign-in-2-item-hint" value="False">
                            <label class="govuk-label govuk-radios__label" for="sign-in-2">
                                Continue without creating an account
                            </label>
                            <span id="sign-in-2-item-hint" class="govuk-hint govuk-radios__hint">
                                You won't be able to sign in and amend your support needs in future, or view relevant information relating to your support
                            </span>
                        </div>
                    </div>
                </fieldset>
            </div>

            <button class="govuk-button" data-module="govuk-button">Continue</button>

        </form>

    </div>
</div>

{% endblock %}
