{% extends "layout.html" %}

{% block pageTitle %}
Question page
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="51">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Do you have a way of getting essential supplies delivered at the moment?</h1>

        <p>For example, you have friends or family who can make sure you have enough food.</p>

        <form class="form" action="/uj5/31" method="post">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <!-- <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                Where do you live?
                            </h1>
                        </legend> -->
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="where-do-you-live" name="supplies" type="radio" value="Yes">
                            <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="where-do-you-live-2" name="supplies" type="radio" value="No">
                            <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                                No
                            </label>
                        </div>

                    </div>
                </fieldset>
            </div>

            <p> If you select ‘no’, we’ll send you a weekly box of basic supplies and share your details with supermarkets so you can get priority for deliveries. You’ll be able to cancel the boxes by telling the delivery driver.</p>

            <button class="govuk-button" data-module="govuk-button">
                Save and continue
            </button>

        </form>

    </div>
</div>

{% endblock %}
