{% extends "layout.html" %}

{% block pageTitle %}
Question page
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="supermarkets">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Do you need help meeting your basic care needs?</h1>

        <p>For example, you do not have family, friends or neighbours you can talk to, and who can help you wash, bathe and keep your house clean if you need them to.</p>

        <form class="form" action="/uj5/check-your-answers" method="post">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">

                    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="more-care-info" name="care-needs" type="radio" data-aria-controls="more-care-info-conditional" value="Yes">
                            <label class="govuk-label govuk-radios__label" for="more-care-info">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="more-care-info-conditional">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="more-care-info-cond">
                                    More details (optional)
                                </label>
                                <textarea class="govuk-textarea" id="more-detail" name="care-more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
                            </div>

                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="how-contacted-conditional-2" name="care-needs" type="radio" value="No">
                            <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                                No
                            </label>
                        </div>

                    </div>
                </fieldset>
            </div>


            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>
    </div>
</div>

{% endblock %}
