{% extends "layout.html" %}

{% block pageTitle %}
Question page
{% endblock %}

{% block beforeContent %}
{% if data['check-your-answers-previous'] == "Yes" %}
{% else %}
<a class="govuk-back-link" href="supermarkets">Back</a>
{% endif %}
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Do you need help meeting your basic care needs?</h1>

        <p>For example, you do not have family, friends or neighbours who can help you wash, bathe and keep your house clean if you need them to.</p>

        {% if data['check-your-answers-previous'] == "Yes" %}
        <form class="form" action="/uj5/check-your-answers" method="post">
            {% elif data['account-previous'] == "Yes" %}
            <form class="form" action="/uj5/account " method="post">
                {% else %}
                <form class="form" action="/uj5/check-your-answers" method="post">
                    {% endif %}

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">

                            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="more-care-info" name="care-needs" type="radio" data-aria-controls="more-care-info-conditional" value="Yes" {{ checked("care-needs", "Yes") }}>
                                    <label class="govuk-label govuk-radios__label" for="more-care-info">
                                        Yes
                                    </label>
                                </div>
                                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="more-care-info-conditional">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label" for="more-care-info-cond">
                                            More details (optional)
                                        </label>
                                        <textarea class="govuk-textarea" id="more-detail" name="care-more-detail" rows="5" aria-describedby="more-detail-hint">{{ data['care-more-detail'] }}</textarea>
                                    </div>

                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="how-contacted-conditional-2" name="care-needs" type="radio" value="No" {{ checked("care-needs", "No") }}>
                                    <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                                        No
                                    </label>
                                </div>

                                <input type="hidden" id="hidden" name="edittoggle" value="Yes">



                            </div>
                        </fieldset>
                    </div>

                    {% if data['check-your-answers-previous'] == "Yes" or data['account-previous'] == "Yes" %}
                    <button class="gem-c-button govuk-button gem-c-button--bottom-margin" type="submit">Save and continue</button>
                    {% else %}
                    <button class="gem-c-button govuk-button gem-c-button--bottom-margin" type="submit">Continue</button>
                    {% endif %}


                </form>
    </div>
</div>

{% endblock %}
