{% extends "layout.html" %}

{% block pageTitle %}
Question page
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="17">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Are you ready to send your application?</h1>

        <h2 class="govuk-heading-m">Confirm the address where support is needed</h2>

        <p>{{ data['address'] }} Example Street<br />
            City<br />
            {{ data['postcode'] }}</p>

        <a href="address-2" class="govuk-link">I need support at a different address</a> <br /><br /><br />

        <hr>

        <br />

        <h2 class="govuk-heading-m">Confirm your details</h2>

        <p>{{ data['first-name'] }} {{ data['middle-name'] }} {{ data['last-name'] }}</p>

        <a href="name" class="govuk-link">Change your name</a> <br /><br /><br />

        <hr>

        <br />

        <h2 class="govuk-heading-m">Confirm your date of birth</h2>

        <p>{{ data['dob-day'] }}-{{ data['dob-month'] }}-{{ data['dob-year'] }}</p>


        <a href="date-of-birth" class="govuk-link">Change your date of birth</a> <br /><br /><br />

        <hr>

        <br />

        <h2 class="govuk-heading-m">Confirm your contact details</h2>


        <p>Phone number (for calls): {{ data['telephone-number'] }}</p>
        <p>Phone number (for texts): {{ data['telephone-number-text'] }}</p>
        <p>Email: {{ data['email'] }}</p>

        <a href="#" class="govuk-link">Change contact details</a> <br /><br /><br />

        <hr>

        <br />

        <h2 class="govuk-heading-m">Can we share your details with supermarkets so they can offer you priority delivery slots?</h2>

        <p>{{ data['supermarket'] }}</p>

        <a href="supermarkets" class="govuk-link">Change</a> <br /><br /><br />

        <hr>

        <br />

        <h2 class="govuk-heading-m">Do you need help meeting your basic care needs?</h2>

        <p>{{ data['care-needs'] }}</p>

        <p>{{ data['care-more-detail'] }}</p>

        <a href="basic-care-needs" class="govuk-link">Change</a> <br /><br /><br />

        <hr>

        <br />

        <h2 class="govuk-heading-m">Now send your application</h2>

        <p>By submitting this application you’re confirming that, as far as you know, the details you’re providing are correct</p>

        <br />

        <a href="set-up-login">
            <button class="govuk-button" data-module="govuk-button">
                Accept and send
            </button></a>

        <br /><br />

    </div>
</div>

{% endblock %}
