{% extends "layout.html" %}

{% block pageTitle %}
Shielded Vulnerable People Service
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Registration complete
            </h1>
        </div>

        <br />

        <h2 id="what-happens-next" class="govuk-heading-m">What happens next</h2>


        <p>We’ll check your details to make sure you’re eligible for support. You’ll only get support if you asked for it.</p>

        <p> If we need to confirm any details, you’ll get a call from the National Shielding Service. The number that will show on your phone is 0333 3050466.</p>

        <h2 id="what-happens-next" class="govuk-heading-m">Getting support</h2>

        <p> If you're eligible and you said that you do not have a way of getting basic supplies at the moment we will start sending you a a weekly box of basic supplies.</p>

        <p>We'll also share your details with participating supermarkets to help them prioritise you for theiry delivery services.</p>

        <p>If you do not already have an account with a supermarket delivery service, set one up now. If you're concerned about not being able to get a delivery slot, you can set up accounts with more than one supermarket.</p>

        <p>It may take some time before you start getting support. Contact your local authority if you need supplies urgently and cannot rely on family, friends or neighbours.</p>

        <h2 id="what-happens-next" class="govuk-heading-m">If you support needs change </h2>

        <p>You can tell the delivery driver if you want to stop getting the weekly box of supplies.</p>

        <p>If your support needs change, go through the questions in this service again.</p>

        <p>There's guidance on what you should do as someone who's especially vulnerable to coronavirus.</p>

        <p>Give feedback on this service</p>


        <p>
            <a href="../index.html">Back to index</a>
        </p>



    </div>
</div>

{% endblock %}
