{% extends "layout.html" %}

{% block pageTitle %}
Shielded Vulnerable People Service
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Registration complete
            </h1>
        </div>

        <br />

        <h2 id="what-happens-next" class="govuk-heading-m">What happens next</h2>

        <p>We’ll check your details to make sure you’re eligible for support.
        </p>

        <p>This usually takes up to a week. If you provided an email address or text message number, we’ll let you know when you can start booking your priority supermarket deliveries.
        </p>

        <p>If you do not already have an account with a supermarket delivery service, set one up now. If you’re concerned about not being able to get a delivery slot, you can set up accounts with more than one supermarket.
        </p>

        <p>If we need to confirm any details, you’ll get a call from the National Shielding Service. The number that will show on your phone is 0333 3050466.</p>

        <p><a href="https://www.gov.uk/coronavirus-local-help">Contact your local authority</a> (https://www.gov.uk/coronavirus-local-help) if you need support urgently and cannot rely on family, friends or neighbours.</p>


        <h2 id="what-happens-next" class="govuk-heading-m">If your personal details or support needs change</h2>

        <p><a href="https://www.gov.uk/coronavirus-extremely-vulnerable">Go through the questions in the service again</a> (https://www.gov.uk/coronavirus-extremely-vulnerable) to update your personal details or support needs.</p>

        <p>There’s <a href="https://www.gov.uk/coronavirus-extremely-vulnerable-guidance">guidance on what you should do if you’re extremely vulnerable to coronavirus</a> (https://www.gov.uk/coronavirus-extremely-vulnerable-guidance).
        </p>

        <p><a href="https://www.gov.uk/done/coronavirus-extremely-vulnerable">Give feedback on this service</a> (https://www.gov.uk/done/coronavirus-extremely-vulnerable) (it takes 2 minutes)</p>

        <br />

        <p>
            <a href="../index.html">Back to index</a>
        </p>



    </div>
</div>

{% endblock %}
