{% extends "layout.html" %}

{% block pageTitle %}
Question page
{% endblock %}

{% block beforeContent %}
{% if data['check-your-answers-previous'] == "Yes" %}
{% else %}
<a class="govuk-back-link" href="address">Back</a>
{% endif %}
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">What are your contact details?</h1>

        <p>Enter as much information as you can. It helps us check your registration and get you any support you need faster.</p>

        <br />

        {% if data['check-your-answers-previous'] == "Yes" %}
        <form class="form" action="/uj5/check-your-answers" method="post">
            {% else %}
            <form class="form" action="/uj5/supermarkets" method="post">
                {% endif %}

                <div class="govuk-form-group">
                    <label class="govuk-label" for="telephone-number">
                        Phone Number (for phone calls)
                    </label>
                    <input class="govuk-input govuk-input--width-20" id="telephone-number" name="telephone-number" type="tel" autocomplete="tel" value="07123456789">
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="telephone-number">
                        Phone Number (for text messages)
                    </label>
                    <input class="govuk-input govuk-input--width-20" id="telephone-number-text" name="telephone-number-text" type="tel" autocomplete="tel" value="07123456789">
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="email">
                        Email address
                    </label>
                    <input class="govuk-input govuk-input--width-20" id="email" name="email" type="email" aria-describedby="email-hint" autocomplete="email" spellcheck="false" value="newuser@com">
                </div>

                <input type="hidden" id="contact-details-2" name="contactdetails2" value="Yes">

                {% if data['check-your-answers-previous'] == "Yes" or data['account-previous'] == "Yes" %}
                <button class="gem-c-button govuk-button gem-c-button--bottom-margin" type="submit">Save and continue</button>
                {% else %}
                <button class="gem-c-button govuk-button gem-c-button--bottom-margin" type="submit">Continue</button>
                {% endif %}

            </form>

    </div>
</div>

{% endblock %}
