{% extends "layout.html" %}

{% block pageTitle %}
Question page
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="address-2">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Confirm your contact details</h1>

        <p>Enter as much information as you can. It helps us check your registration and get you any support you need faster.</p>

        <br />

        <form class="form" action="/uj5/supermarkets" method="post">

            <div class="govuk-form-group">
                <label class="govuk-label" for="telephone-number">
                    Phone Number (for phone calls)
                </label>
                <input class="govuk-input govuk-input--width-20" id="telephone-number" name="telephone-number" type="tel" autocomplete="tel" value="{{ data['telephone-number'] }}">
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="telephone-number">
                    Phone Number (for text messages)
                </label>
                <input class="govuk-input govuk-input--width-20" id="telephone-number-text" name="telephone-number-text" type="tel" autocomplete="tel" value="{{ data['telephone-number-text'] }}">
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="email">
                    Email address
                </label>
                <input class="govuk-input govuk-input--width-20" id="email" name="email" type="email" aria-describedby="email-hint" autocomplete="email" spellcheck="false" value="{{ data['email'] }}">
            </div>

            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>

    </div>
</div>

{% endblock %}
