{% extends "layout.html" %}

{% block pageTitle %}
Question page
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="yourself-someone-else">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <!--  <h1 class="govuk-heading-xl"></h1> -->

        <p>If you’ve previously registered with
            NHS login for this service, you can sign in.</p>

        <p>You cannot sign in on behalf of someone else.</p>

        <br />

        <a href="#">
            <img src="../../../public/images/NHS-login-buttons/3x/SignInWith_Original@3x.png" style="max-width: 330px;">
        </a>

    </div>
</div>

{% endblock %}
