{% extends "layout.html" %}

{% block pageTitle %}
Question page
{% endblock %}

{% block beforeContent %}
<!-- <a class="govuk-back-link" href="17">Back</a> -->
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">We have received your application</h1>

        <h2 class="govuk-heading-l"> Would you like to create an account?</h2>

        <p>This will make it easier and faster to check and update your details in future.</p>

        <p>It takes about 5 minutes</p>

        <br />

        <p><a href="https://svps-nhs-login.herokuapp.com/uj5/enter-email">
                <img src="../../../public/images/NHS-login-buttons/3x/RegisterUsing_Original@3x.png" style="max-width: 330px;">
            </a></p>

        <p><a href="confirmation"><button class="govuk-button" data-module="govuk-button">
                    Continue without an account
                </button></a></p>

    </div>
</div>

{% endblock %}
