{% extends "layout.html" %}

{% block pageTitle %}
Question page
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="eligibility-1">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-xl">Sorry, this service is not available in your area</h1>

        <p class="guvuk-body">

            You’re not in an area where people are being advised to ‘shield’ at the moment.</p>

        <p class="guvuk-body">You can read <a href="https://www.gov.uk/government/publications/guidance-on-shielding-and-protecting-extremely-vulnerable-persons-from-covid-19" target="_blank">general guidance on protecting yourself if you’re clinically extremely vulnerable to coronavirus</a>.</p>


        <p class="govuk-body">There’s also guidance if you live in:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li><a class="govuk-link" href="https://www.health-ni.gov.uk/coronavirus">Northern Ireland</a></li>
            <li><a class="govuk-link" href="https://www.gov.scot/publications/covid-shielding-contacts/">Scotland</a></li>
            <li><a class="govuk-link" href="https://gov.wales/get-coronavirus-support-extremely-vulnerable-person">Wales</a></li>
        </ul>
        <p class="govuk-body">There’s also guidance on <a href="https://www.gov.uk/coronavirus" class="govuk-link">what you need to do</a><a></a>.</p>
        <p class="govuk-body">We won’t store the information you entered into this service.</p>


    </div>
</div>

{% endblock %}
