{% extends "layout.html" %}

{% block pageTitle %}
Question page
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="contact-details">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Do you want priority supermarket deliveries?
        </h1>

        <p>If you say ‘yes’, we’ll share your details with supermarkets so they can give you priority for deliveries.</p>

        <form class="form" action="/uj5/basic-care-needs" method="post">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">

                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="where-do-you-live" name="supermarket" type="radio" value="Yes">
                            <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                                Yes, share my details with supermarkets so they can give me priority
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="where-do-you-live-2" name="supermarket" type="radio" value="No">
                            <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                                No, do not share my details with supermarkets
                            </label>
                        </div>

                    </div>
                </fieldset>
            </div>

            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>

        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Which supermarkets are involved?
                </span>
            </summary>
            <div class="govuk-details__text">
                <p>We share your name, address and contact details with these supermarkets so they can find you in their system and offer you priority slots.</p>

                <p>You will need to create an account with the supermarkets if you do not already have one.</p>

                <p>Supermarkets involved:</p>

                <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

                    <li>Asda</li>
                    <li>Iceland</li>
                    <li>Morrisons</li>
                    <li>Ocado</li>
                    <li>Sainsburys</li>
                    <li>Tesco</li>
                    <li>Waitrose</li>
                </ul>
                <br />
            </div>
            <br />
        </details>

    </div>
</div>

{% endblock %}
