{% extends "layout.html" %}

{% block pageTitle %}
Question page
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="account">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Your account</h1>


        <h2 class="govuk-heading-m">Supermarket delivery slots</h2>

        <p>Slot availability can change quickly</p>

        <p>Postcode: N1 1TY</p>

        <p>These slots are available:<br />
            13 September - 20 September</p>

        <br />

        <p><strong>Sainsburys</strong><br />
            200 slots (100 priority)<br />
            <a href="https://www.sainsburys.co.uk/shop/LogonView/Identifier?catalogId=10122&langId=44&storeId=10151&logonCallerId=LogonButton&URL=TopCategoriesDisplayView" target="_blank">Book a slot</a></p>

        <br />

        <p><strong>Tesco</strong><br />
            55 slots (55 priority)<br />
            <a href="https://secure.tesco.com/account/en-GB/login?from=https%3A%2F%2Fsecure.tesco.com%2Faccount%2Fen-GB%2Fmanage%2F" target="_blank">Book a slot</a></p>

        <br />

        <p><strong>Iceland</strong><br />
            54 slots (10 priority)<br />
            <a href="https://iceland.co.uk/" target="_blank">Book a slot</a></p>

        <br />

        <p><strong>Waitrose</strong><br />
            23 slots <br />
            <a href="https://www.waitrose.com/ecom/login" target="_blank">Book a slot</a></p>

        <br />

        <p><strong>Ocado (existing customers only)</strong><br />
            5 slots<br />
            <a href="https://accounts.ocado.com/auth-service/sso/login" target="_blank">Book a slot</a></p>

        <br />

        <p><strong>Asda</strong><br />
            0 slots<br />
            <a href="https://asda.com/" target="_blank">Notify me about slots</a></p>

        <br />
        <p><strong>Morrisons</strong><br />
            0 slots<br />
            <a href="https://morrisons.co.uk/" target="_blank">Notify me about slots</a></p>


        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <p>You’re getting slot emails weekly.<br />
            <a href="#">Change frequency</a></p>

        <p> <a href="#">Unsubscribe from all emails</a></p>


    </div>
</div>

{% endblock %}
