{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Supermarket slots
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-xl">
    Supermarket delivery slot availability
  </h1>
  <p>
    Slots available up to 20 September, delivering to N1 1TY
  </p>
  <p>
    Slot availability can change quickly
  </p>

  <ul class="govuk-list govuk-list--bullet">
    <li>
      <a href="https://sainsburys.co.uk"><strong>Sainsburys</strong></a>
      <br>
      309 slots (101 priority)
    </li>
    <li>
      <a href="https://tesco.co.uk"><strong>Tesco</strong></a>
      <br>
      192 slots (192 priority)
    </li>
    <li>
      <a href="https://iceland.co.uk"><strong>Iceland</strong></a>
      <br>
      150 slots (102 priority)
    </li>
    <li>
      <a href="https://waitrose.com"><strong>Waitrose</strong></a>
      <br>
      98 slots (5 priority)
    </li>
    <li>
      <a href="https://ocado.com"><strong>Ocado</strong> (Existing customers only)</a>
      <br>
      40 slots
    </li>
    <li>
      <a href="https://asda.com"><strong>Asda</strong></a>
      <br>
      0 slots
    </li>
    <li>
      <a href="https://morrisons.co.uk"><strong>Morrisons</strong></a>
      <br>
      0 slots
    </li>
  </ul>

  <p>
    <a href="#">Unsubscribe from these emails</a>
  </p>
</div>
</div>
{% endblock %}
