{% extends "layout.html" %}

{% block pageTitle %}
Get support if you’re clinically extremely vulnerable to coronavirus
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/index.html">Home</a>
        </li>
        <!-- <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li> -->
    </ol>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Get support if you’re clinically extremely vulnerable to coronavirus
        </h1>

        <div class="govuk-inset-text">
            <p>This service has now closed.</p>
        </div>

        <p>If you’ve already got priority access to supermarket deliveries, you’ll keep it up to 21 June.</p>

        <p><a href="https://www.gov.uk/coronavirus-local-help">Contact your local authority</a> if you need urgent help getting essential supplies and cannot rely on supermarket deliveries, family, friends or neighbours.</p>

        <p>You can <a href="https://www.gov.uk/government/publications/guidance-on-shielding-and-protecting-extremely-vulnerable-persons-from-covid-19/guidance-on-shielding-and-protecting-extremely-vulnerable-persons-from-covid-19">read general guidance on protecting yourself if you’re clinically extremely vulnerable to coronavirus.</a> </p>

        <br />

        <h2 class="govuk-heading-m">Find out what support is available</h2>

        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-with-summary-sections">
            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
                            Get medical healthcare support
                        </span>
                    </h2>
                    <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
                        You should continue to seek support from the NHS for your existing health conditions.
                    </div>
                </div>
                <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">

                    <p>You can <a href="https://www.nhs.uk/health-at-home/" target="_blank">access many NHS services from home</a>, including ordering repeat prescriptions or contacting a health professional.</p>
                    <p>You can also access these services through the <a href="https://www.nhs.uk/nhs-services/online-services/nhs-app/" target="_blank">NHS App</a>.
                    </p>


                    <br />
                </div>
            </div>
            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-15">
                            Get mental health and wellbeing support
                        </span>
                    </h2>
                    <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-15">
                        If you need urgent help with a mental health emergency, you should go to your nearest accident and emergency department.
                    </div>
                </div>
                <div id="accordion-with-summary-sections-content-15" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-15">


                    <p>If you’re looking for advice then <a href="https://www.nhs.uk/mental-health/advice-for-life-situations-and-events/where-to-get-urgent-help-for-mental-health/" target="_blank">call the urgent mental health helpline</a> to get direct access to a mental health professional. This service is open to people of all ages, 24 hours a day 7 days a week.</p>

                    <p>The NHS offers practical tips on <a href="https://www.nhs.uk/oneyou/every-mind-matters/" target="_blank">coping with mental health issues</a> and <a hrref="https://www.nhs.uk/oneyou/every-mind-matters/" target="_blank">advice on looking after a child or young person's mental health</a>. </p>

                    <p>If you’re feeling lonely, you can <a href="https://letstalkloneliness.co.uk/" target="_blank">access support from the Let’s Talk Loneliness organisation</a>.</p>

                </div>
            </div>
            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-2">
                            Get support at home
                        </span>
                    </h2>
                    <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-2">
                        There are a range of services available to help support you at home.
                    </div>
                </div>
                <div id="accordion-with-summary-sections-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-2">


                    <p>You can <a href="https://www.ofgem.gov.uk/consumers/household-gas-and-electricity-guide/extra-help-energy-services/priority-services-register" target="_blank">sign up to the priority service register</a> to access support from energy suppliers and network operators including advance notice of planned power cuts and priority support in an emergency. There are many other ways <a hef="https://www.ofcom.org.uk/about-ofcom/what-is-ofcom/consumer-vulnerability" target="_blank">communication providers can support you as a vulnerable customer</a>. </p>

                    <p>The NHS offers tips on <a href="https://www.nhs.uk/oneyou/every-mind-matters/7-simple-tips-to-tackle-working-from-home/" target="_blank">staying productive while working from home</a>. There’s also advice on <a href="https://www.nhs.uk/oneyou/every-mind-matters/looking-after-children-and-young-people-during-coronavirus-covid-19-outbreak/" target="_blank">how to support your child while at home</a>.</p>

                </div>
            </div>
            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-3">
                            Get support from your local authority
                        </span>
                    </h2>
                    <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-3">
                        Local councils will continue to provide support and assistance through a range of services.
                    </div>
                </div>
                <div id="accordion-with-summary-sections-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-3">

                    <p>You should <a href="https://www.gov.uk/find-local-council" target="_blank">contact your local council</a> to check what support they can offer.
                    </p>

                </div>
            </div>

        </div>

        <br /> <br />

        <h2 class="govuk-heading-m">Helpful advice</h2>


        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-with-summary-sections">
            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
                            Work
                        </span>
                    </h2>
                    <!--  <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">


                    </div> -->
                </div>
                <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">

                    <p>Everyone is currently advised to work from home where possible. If you cannot work from home, you should go to work.</p>
                    <p>Your employer is required to take steps to reduce the risk of exposure to COVID-19 in the workplace and should be able to explain to you the measures they have put in place to keep you safe at work.
                    </p>

                    <ul class="govuk-list govuk-list--bullet">
                        <li>Making workplace safe - https://www.gov.uk/guidance/working-safely-during-coronavirus-covid-19 </li>
                        <li>Protecting vulnerable people - https://www.hse.gov.uk/coronavirus/working-safely/protect-people.htm </li>
                        <li>Accessibility in the workplace - https://www.gov.uk/access-to-work </li>
                        <li>Furough scheme - https://www.gov.uk/government/collections/coronavirus-job-retention-scheme </li>
                        <li>Self employment - https://www.gov.uk/government/publications/self-employment-income-support-scheme-grant-extension </li>
                        <li>Citizen’s advice bureau - https://www.citizensadvice.org.uk/work/ </li>
                        <li>Acas - https://www.acas.org.uk/contact</li>
                    </ul>
                </div>
            </div>
            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-2">
                            School
                        </span>
                    </h2>
                    <!--    <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-2">
                        Workspaces, tools and techniques, user stories, planning.
                    </div> -->
                </div>
                <div id="accordion-with-summary-sections-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-2">
                    <p>Clinically extremely vulnerable pupils and students should return to their school or
                        other educational setting from 1 April 2021. </p>
                    <p>Children who live in a household with
                        someone who is clinically extremely vulnerable are not advised to shield and should
                        have returned to school or college on 8 March.
                    </p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Information on rapid lateral flow tests: https://www.gov.uk/guidance/rapid-lateral-flow-testing-for-households-and-bubbles-of-school-pupils-and-staff </li>
                        <li>Information on protective measures in place: https://www.gov.uk/government/publications/what-parents-and-carers-need-to-know-about-early-years-providers-schools-and-colleges-during-the-coronavirus-covid-19-outbreak/what-parents-need-to-know-about-early-years-providers-schools-and-colleges-during-covid-19#guidance</li>
                    </ul>
                </div>
            </div>


        </div>

        <br /> <br />

        <h2 class="govuk-heading-s">If you do not live in England</h2>

        <p class="govuk-body">
            There's:
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li><a class="govuk-link" href="https://www.health-ni.gov.uk/coronavirus">guidance for people who live in Northern Ireland</a></li>
            <li><a class="govuk-link" href="https://www.gov.scot/publications/covid-shielding-contacts/">guidance for people who live in Scotland</a></li>
            <li><a class="govuk-link" href="https://gov.wales/get-coronavirus-support-extremely-vulnerable-person">guidance for people who live in Wales</a></li>
        </ul>
    </div>

    <div class="govuk-grid-column-one-third">

        {% include "includes/index-sidebar.html" %}

    </div>
</div>
{% endblock %}
