{% extends "layout.html" %}

{% block pageTitle %}
Question page
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="21">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" action="/uj1/23" method="post">

            <h1 class="govuk-heading-xl">Confirm your address where you need support</h1>

            <h3 class="govuk-heading-m">Current address</h3>
            <p>1 Preston Way<br />
                Leeds<br />
                LS1 1SA</p>

            <br />

            <a href="#" class="govuk-link">I need support at a different address</a> <br /><br /><br />

            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>


        </form>

    </div>
</div>

{% endblock %}
