{% extends "layout.html" %}

{% block pageTitle %}
Question page
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="17">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Your current support needs</h1>

    </div>

    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Your contact details</h2>

        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col"> </th>
                    <th class="govuk-table__header" scope="col"> </th>
                    <th class="govuk-table__header" scope="col"> </th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">
                        Address (where you need support)
                    </th>
                    <td class="govuk-table__cell">
                        <p>1 Preston Way<br />
                            Leeds<br />
                            LS1 1SA</p>


                    </td>
                    <td class="govuk-table__cell"><a href="22" class="govuk-link">Change</a> </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">
                        Phone number (for calls)
                    </th>
                    <td class="govuk-table__cell">
                        01234 567890

                    </td>
                    <td class="govuk-table__cell"><a href="23" class="govuk-link">Change</a> </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">
                        Phone number (for texts)
                    </th>
                    <td class="govuk-table__cell">
                        07890 123456
                    </td>
                    <td class="govuk-table__cell"><a href="23" class="govuk-link">Change</a> </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">
                        Email address
                    </th>
                    <td class="govuk-table__cell">
                        your@emailaddress.co.uk
                    </td>
                    <td class="govuk-table__cell"><a href="23" class="govuk-link">Change</a> </td>
                </tr>

            </tbody>
        </table>


        <br />



        <h2 class="govuk-heading-m">Current support services</h2>

        <br />

        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col"> Service </th>
                    <th class="govuk-table__header" scope="col"> Status </th>
                    <th class="govuk-table__header" scope="col"> Status </th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">
                        Weekly delivery of basic supplies
                    </th>
                    <td class="govuk-table__cell">

                        {% if data['supplies'] == "No" %}
                        <strong class="govuk-tag govuk-tag--grey">
                            Requested
                        </strong>
                        {% else %}
                        <strong class="govuk-tag govuk-tag--grey">
                            Not requested
                        </strong>
                        {% endif %}

                    </td>
                    <td class="govuk-table__cell"><a href="24" class="govuk-link">Change</a> </td>
                </tr>

                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">
                        Priority for supermarket deliveries
                    </th>
                    <td class="govuk-table__cell">

                        {% if data['supplies'] == "No" %}
                        <strong class="govuk-tag govuk-tag--grey">
                            Requested
                        </strong>
                        {% else %}
                        <strong class="govuk-tag govuk-tag--grey">
                            Not requested
                        </strong>
                        {% endif %}

                    </td>
                    <td class="govuk-table__cell"><a href="24" class="govuk-link">Change</a> </td>
                </tr>

                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">
                        Basic care needs service
                    </th>
                    <td class="govuk-table__cell">

                        {% if data['care'] == "No" %}
                        <strong class="govuk-tag govuk-tag--grey">
                            Requested
                        </strong>
                        {% else %}
                        <strong class="govuk-tag govuk-tag--grey">
                            Not requested
                        </strong>
                        {% endif %}
                    </td>
                    <td class="govuk-table__cell"><a href="25" class="govuk-link">Change</a> </td>
                </tr>
                <!-- <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">
                        Another service
                    </th>
                    <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--blue">
                            New
                        </strong>

                    </td>
                </tr> -->

            </tbody>
        </table>



        <br />

        <h2 class="govuk-heading-m">Now send your application</h2>

        <p>By submitting this application you’re confirming that, as far as you know, the details you’re providing are correct</p>

        <br />

        <a href="../the-end.html">
            <button class="govuk-button" data-module="govuk-button">
                Accept and send
            </button></a>

        <br /><br />

    </div>

    <div class="govuk-grid-column-one-third gem-c-related-navigation" style="border-top: 2px solid #1d70b8; padding-left: 30px; background: #f3f2f1;">
        <br />
        <h2 class="govuk-heading-s">Targeted / regional / related content</h2>
        <ul class="govuk-list">
            <li>
                <a class="govuk-link" href="#">Useful link</a>
            </li>
            <li>
                <a class="govuk-link" href="#">Useful link</a>
            </li>
            <li>
                <a class="govuk-link" href="#">Useful link</a>
            </li>
            <li>
                <a class="govuk-link" href="#">Useful link</a>
            </li>
        </ul>
    </div>
</div>

{% endblock %}
