{% extends "layout.html" %}

{% block pageTitle %}
Question page
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="17">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Would you like to set up an account using NHS login?</h1>

        <p>Setting up an account will make it easier for you to do the following things in the future:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>unsubscribe from the service if your circumstances change</li>
            <li>customise your support if your circumstances change</li>
            <li>view relevant information relating to your support</li>
            <li>be contacted more easily</li>
        </ul>

        <form class="form" action="https://nhs-login.herokuapp.com/set-up/vsps-reg-p5-plugin/enter-email?p5=true&service=app4&serviceName=yesBoy&returnUrl=https://bbc.co.uk&devMode=undefined" method="post">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <!--  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                           
                        </h1>
                    </legend> -->
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
                            <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
                            <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                                No
                            </label>
                        </div>


                    </div>
                </fieldset>
            </div>

            <button class="govuk-button" data-module="govuk-button">Continue</button>

        </form>

        <a href="22" class="govuk-body-s">Skip NHS login</a>

    </div>
</div>

{% endblock %}
