{% extends "layout.html" %}

{% block pageTitle %}
Shielded Vulnerable People Service
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Shielded Vulnerable People Service

        </h1>
        <h2 class="govuk-heading-m">
            Prototypes
        </h2>

        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    UJ3-A
                </span>
            </summary>
            <div class="govuk-details__text">
                <ul class="govuk-list govuk-list--bullet">
                    <li><a href="../../../public/images/SVPS-UJ3a.pdf" target="_blank">View UJ3-A journey map</a></li>
                    <li><a href="uj3/index-a.html">View UJ3-A prototype</a> - Existing NHS login user needs to input email "Existing@com"</li>
                </ul>
            </div>

        </details>

        <!--    <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    UJ3-B
                </span>
            </summary>
            <div class="govuk-details__text">
                To follow....
            </div>
            <p><a href="uj3/index-b.html">View UJ3-B prototype</a></p>
        </details> -->


        <hr>

        <br />

        <h3 class="govuk-heading-s">
            Prototype archive
        </h3>



        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    UJ1
                </span>
            </summary>
            <div class="govuk-details__text">
                Nb: This prototype only follows the registering for an NHS login path. In reality, NHS login would fork between existing and new users (of NHS login) based on the email address entered
            </div>
            <p><a href="uj1/index.html">View UJ1 prototype</a></p>
        </details>


        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    UJ2
                </span>
            </summary>
            <div class="govuk-details__text">
                <p>Nb: For illustration purposes, this prototype forks after the 'Have you set up an account using NHS login before?'. </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>"Yes" simply logs in via NHS login to the SVPS 'Confirm your support needs' page</li>
                    <li>"No" goes via NHS login registration to the SVPS 'Confirm your support needs' page</li>
                </ul>
            </div>
            <p><a href="uj2/index.html">View UJ2 prototype</a></p>
        </details>

        <br />

        <p class="govuk-body-s">Last updated: 22-Jun-2020</p>

    </div>
</div>

{% endblock %}
