{% extends "layout.html" %}

{% block pageTitle %}
Shielded Vulnerable People Service
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Shielded Vulnerable People Service

        </h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">
            Citizen webform prototypes
        </h2>

        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    UJ6 (Figma 2.1 MHCLG amends)
                </span>
            </summary>
            <div class="govuk-details__text">
                <br />
                <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                    <li><a href="uj6/start">Start page</a></li>
                    <li><a href="uj6/yourself-someone-else">Applying for yourself or someone else?</a></li>
                    <li><a href="uj6/do-you-have-nhs-login">Do you have NHS login?</a>
                        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                            <li><a href="uj6/nhs-login">Yes - NHS login</a></li>
                        </ul>
                    </li>
                    <li><a href="uj6/postcode">Postcode</a>
                        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                            <li><a href="uj6/sorry-postcode">Sorry, not eligible (postcode)</a></li>
                        </ul>
                    </li>
                    <li><a href="uj6/eligibility-2">Told to shield?</a>
                        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                            <li><a href="uj6/medical-conditions">Medical conditions list</a></li>
                            <li><a href="uj6/sorry">Sorry, not eligible (condition)</a></li>
                        </ul>
                    </li>
                    <li><a href="uj6/nhs-number">NHS number</a>
                        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                            <li><a href="uj6/nhs-login-2">Register with NHS login</a></li>
                        </ul>
                    </li>
                    <li><a href="uj6/name">Name</a></li>
                    <li><a href="uj6/date-of-birth">Date of birth</a></li>
                    <li><a href="uj6/address">Address</a></li>
                    <li><a href="uj6/contact-details">Contact details</a></li>
                    <li><a href="uj6/someone-to-go-shopping">Someone to go shopping for you</a></li>
                    <li><a href="uj6/supermarkets">Supermarket priority</a></li>
                    <li><a href="uj6/basic-care-needs">Basic care needs</a></li>
                    <li><a href="uj6/check-your-answers">Check your answers</a></li>
                    <li><a href="uj6/set-up-login">Set up NHS login?</a></li>
                    <li><a href="uj6/confirmation">Confirmation</a></li>
                    <li><a href="uj6/supermarkets-email">Supermarket slots email</a></li>
                    <li><a href="uj6/supermarket-slots">Supermarket slots account page</a></li>
                </ul>




            </div>
            <br />
        </details>

        <p class="govuk-body-s">Last updated: 12:00PM 14-Oct-2020</p>

        <br />
        <br />

        <h3 class="govuk-heading-s">
            Archive
        </h3>

        <ul class="govuk-list govuk-list--bullet">
            <li><a href="uj5/index.html">UJ5 </a></li>
            <li><a href="uj4/index.html">UJ4 </a></li>
            <li><a href="uj3/index-a.html">UJ3-A </a></li>
            <li><a href="uj3/index-b.html"> UJ3-B </a></li>
            <li><a href="uj3/index-c.html"> UJ3-C </a></li>
            <li><a href="uj3/index-d.html"> UJ3-D </a></li>
            <li><a href="uj3/index-e.html"> UJ3-E </a></li>
            <li><a href="uj2/index.html">UJ2</a></li>
            <li><a href="uj1/index.html">UJ1</a></li>
        </ul>

        <br />



    </div>


    <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">
            Local Authority support tool prototypes
        </h2>
        <ul class="govuk-list govuk-list--bullet">
            <li><a href="la-support-v1/">LA Support tool - v1 </a></li>
        </ul>
        <br />
        <p class="govuk-body-s">Last updated: 24-Sep-2020</p>

    </div>
</div>



{% endblock %}
