{% extends "layout.html" %}

{% block pageTitle %}
Shielded Vulnerable People Service
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Shielded Vulnerable People Service

        </h1>
        <h2 class="govuk-heading-m">
            Prototypes
        </h2>

        <p>
            <a href="uj1/index.html">UJ1</a> - new user to the service
        </p>
        <p>
            <a href="uj2/index.html">UJ2</a> - returning user to the service
        </p>


    </div>
</div>

{% endblock %}
