{% extends "layout.html" %}

{% block pageTitle %}
Question page
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="17">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Check your answers before submitting</h1>

        <h2 class="govuk-heading-m">The address where support is needed</h2>

        {% if data['manualaddress'] == "Yes" %}
        <p>{{ data['building_and_street_line_1'] }}<br />
            {{ data['building_and_street_line_2'] }}<br />
            {{ data['town_city'] }}<br />
            {{ data['postcode'] }}</p>
        {% else %}
        <p>{{ data['address'] }} Example Street<br />
            Leeds<br />
            {{ data['postcode'] }}</p>
        {% endif %}

        <form class="form" id="addresschange" method="post" action="/uj7/address-2">
            <input type="hidden" id="check-your-answers-previous" name="check-your-answers-previous" value="Yes">
            <a href="javascript:{}" onclick="document.getElementById('addresschange').submit(); return false;">Change</a>
        </form>

        <br /><br />

        <hr>

        <br />

        <h2 class="govuk-heading-m">Name</h2>

        <p>{% if data['first-name'] %}
            {{ data['first-name'] }}
            {% else %}
            Joe
            {% endif %}
            {% if data['middle-name'] %}
            {{ data['middle-name'] }}
            {% endif %}
            {% if data['last-name'] %}
            {{ data['last-name'] }}
            {% else %}
            Bloggs
            {% endif %}
        </p>

        {% if data['contactdetails2'] == "Yes" %}
        &nbsp;
        {% else %}
        <form id="namechange" method="post" action="/uj7/name">
            <input type="hidden" id="check-your-answers-previous" name="check-your-answers-previous" value="Yes">
            <a href="javascript:{}" onclick="document.getElementById('namechange').submit();return false;">Change</a>
        </form>
        {% endif %}

        <br /><br />

        <hr>

        <br />

        <h2 class="govuk-heading-m">Date of birth</h2>

        <p>{% if data['dob-day'] %}
            {{ data['dob-day'] }}
            {% else %}
            12
            {% endif %}
            -
            {% if data['dob-month'] %}
            {{ data['dob-month'] }}
            {% else %}
            11
            {% endif %}
            -
            {% if data['dob-year'] %}
            {{ data['dob-year'] }}
            {% else %}
            1979
            {% endif %}
        </p>

        {% if data['contactdetails2'] == "Yes" %}
        &nbsp;
        {% else %}
        <form id="dobchange" method="post" action="/uj7/date-of-birth">
            <input type="hidden" id="check-your-answers-previous" name="check-your-answers-previous" value="Yes">
            <a href="javascript:{}" onclick="document.getElementById('dobchange').submit();return false;">Change</a>
        </form>

        {% endif %}


        <br /><br />

        <hr>

        <br />

        <h2 class="govuk-heading-m">Contact details</h2>


        <p>Phone number (for calls): {{ data['telephone-number'] }}</p>
        <p>Phone number (for texts): {{ data['telephone-number-text'] }}</p>
        <p>Email: {{ data['email'] }}</p>

        {% if data['contactdetails2'] == "Yes" %}
        &nbsp;
        {% else %}
        <form id="contactdetailschange" method="post" action="/uj7/contact-details">
            <input type="hidden" id="check-your-answers-previous" name="check-your-answers-previous" value="Yes">
            <a href="javascript:{}" onclick="document.getElementById('contactdetailschange').submit();return false;">Change</a>
        </form>

        {% endif %}



        <br /><br />

        <hr>

        <br />

        <h2 class="govuk-heading-m">Is there someone you can rely on to go shopping for you if you need them to?
        </h2>

        <p>{{ data['someone-to-go-shopping'] }}</p>

        {% if data['postcode'] == "LS1 1AB" %}
        <form id="shoppingchange" method="post" action="/uj7/someone-to-go-shopping-shielding">
            <input type="hidden" id="check-your-answers-previous" name="check-your-answers-previous" value="Yes">
            <a href="javascript:{}" onclick="document.getElementById('shoppingchange').submit();return false;">Change</a>
        </form>
        {% else %}
        <form id="shoppingchange" method="post" action="/uj7/someone-to-go-shopping">
            <input type="hidden" id="check-your-answers-previous" name="check-your-answers-previous" value="Yes">
            <a href="javascript:{}" onclick="document.getElementById('shoppingchange').submit();return false;">Change</a>
        </form>
        {% endif %}

        <br /><br />

        <hr>

        {% if data['someone-to-go-shopping'] == "No" %}

        <br />

        <h2 class="govuk-heading-m">Do you want access to priority supermarket deliveries?
        </h2>

        <p>{{ data['supermarket'] }}</p>

        {% if data['postcode'] == "LS1 1AB" %}
        <form id="supermarketschange" method="post" action="/uj7/supermarkets-shielding">
            <input type="hidden" id="check-your-answers-previous" name="check-your-answers-previous" value="Yes">
            <a href="javascript:{}" onclick="document.getElementById('supermarketschange').submit();return false;">Change</a>
        </form>
        {% else %}
        <form id="supermarketschange" method="post" action="/uj7/supermarkets">
            <input type="hidden" id="check-your-answers-previous" name="check-your-answers-previous" value="Yes">
            <a href="javascript:{}" onclick="document.getElementById('supermarketschange').submit();return false;">Change</a>
        </form>
        {% endif %}

        <br /><br />

        <hr>

        <br />

        {% endif %}

        {% if data['postcode'] == "LS1 1AB" %}
        <h2 class="govuk-heading-m">Do you need additional support to help you shield?</h2>
        {% else %}
        <h2 class="govuk-heading-m">Would you need additional support if you were told to start ‘shielding’?</h2>
        {% endif %}

        <p>{{ data['care-needs'] }}</p>

        {% if data['care-more-detail'] %}
        <p>{{ data['care-more-detail'] }}</p>
        {% else %}
        &nbsp;
        {% endif %}

        {% if data['postcode'] == "LS1 1AB" %}
        <form id="basiccareneedschange" method="post" action="/uj7/basic-care-needs-shielding">
            <input type="hidden" id="check-your-answers-previous" name="check-your-answers-previous" value="Yes">
            <a href="javascript:{}" onclick="document.getElementById('basiccareneedschange').submit();return false;">Change</a>
        </form>
        {% else %}
        <form id="basiccareneedschange" method="post" action="/uj7/basic-care-needs">
            <input type="hidden" id="check-your-answers-previous" name="check-your-answers-previous" value="Yes">
            <a href="javascript:{}" onclick="document.getElementById('basiccareneedschange').submit();return false;">Change</a>
        </form>
        {% endif %}

        <br /><br />

        <hr>

        <br />

        <h2 class="govuk-heading-m">Now send your application</h2>

        <p>By submitting this application you’re confirming that, as far as you know, the details you’re providing are correct</p>

        <br />

        {% if data['yourself'] == "Myself" %}

        {{ govukButton({ text: "Accept and send", href:"set-up-login"})}}

        {% else %}

        {{ govukButton({ text: "Accept and send", href:"confirmation"})}}

        {% endif %}

        <br />
        <br />

    </div>
</div>

{% endblock %}
